<div class="container">
  <div class="home-content-title">
    <h2>The website is to demo the usage of the Financial Times Developer API</h2>
    <h2>Click on the search icon to search using Financial Times Dev API</h2>
  </div>
</div>