<div class="container">
  <div class="main-search-wrap">
    <h1 class="search-title">Search Results</h1>
    <div class="main-search-box">
      <form class="main-search-form" action="/search" method="get" role="form">
        <input type="text" class="main-search-input" name="searchText" placeholder="Search the FT" required
          value="{{textInput}}">
        <button type="submit" class="main-search-button no-outline">

        </button>
      </form>
    </div>
  </div>
</div>