<nav id="nav-bar" class="row nav nav-bar" role="navigation" aria-label="Primary navigation">
  <div class="container nav-container">
    <ul class="nav-list nav-list-left">
      {{#if isNavActive}}
      <li class="nav-item">
        <a class="nav-link nav-link-primary nav-link-active" onclick="makeActive(this)" href="/">Home</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link nav-link-primary" onclick="makeActive(this)" href="/#">Home</a>
      </li>
      {{/if}}
      <li class="nav-item hide">
        <a class="nav-link nav-link-primary" onclick="makeActive(this)" href="/#">World</a>
      </li>
      <li class="nav-item hide">
        <a class="nav-link nav-link-primary" onclick="makeActive(this)" href="/#">UK</a>
      </li>
      <li class="nav-item hide">
        <a class="nav-link nav-link-primary" onclick="makeActive(this)" href="/#">Companies</a>
      </li>
      <li class="nav-item hide">
        <a class="nav-link nav-link-primary" onclick="makeActive(this)" href="/#">Tech</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-primary" onclick="makeActive(this)" href="/#">Markets</a>
      </li>
      <li class="nav-item hide">
        <a class="nav-link nav-link-primary" onclick="makeActive(this)" href="/#">Climate</a>
      </li>
      <li class="nav-item hide">
        <a class="nav-link nav-link-primary" onclick="makeActive(this)" href="/#">Opinion</a>
      </li>
      <li class="nav-item hide">
        <a class="nav-link nav-link-primary" onclick="makeActive(this)" href="/#"
          data-trackable="Work &amp; Careers">Work &amp;
          Careers</a>
      </li>
      <li class="nav-item hide">
        <a class="nav-link nav-link-primary" onclick="makeActive(this)" href="/#">Life &amp; Arts</a>
      </li>
      <li class="nav-item hide"><a class="nav-link nav-link-primary" href="/#">How to Spend It</a></li>
    </ul>
    <ul class="nav-list nav-list-right">
      <li class="nav-item hide"><a class="nav-link" onclick="makeActive(this)" href="/#">Portfolio</a>
      </li>
      <li class="nav-item hide"><a class="nav-link"href="/#" onclick="makeActive(this)">Settings &amp; Account</a>
      </li>
    </ul>
  </div>
</nav>