<div class="container">
  <div class="no-result-message text-only">
    <h2>No search result found with <q class="query-word">{{textInput}}</q> query word</h2>
    <h2>Try different word i.e. <q class="query-word">brexit</q> or <q class="query-word">bitcoin</q>.</h2>
  </div>
</div>