<div>
  <div>
    <a>

    </a href="?searchText={{textInput}}&page={{pageNumber}}">
    <div>
      <p>page numbers</p>
    </div>
    <a href="?searchText={{textInput}}&page={{pageNumber}}">

    </a>
  </div>
</div>