<div>
  <div>
    <a href="?searchText={{textInput}}&page={{pageNumber}}"> previous page
    </a>
    <div>
      <p>page numbers</p>
    </div>
    <a href="?searchText={{textInput}}&page={{pageNumber}}">
      next page
    </a>
  </div>
</div>