<div class="top-banner">
    <div class="container brand-header">
        <div class="top-column top-column-left">
            <a onclick="toggleSearchBar()" class="top-link top-link-search" aria-controls="search-primary"
                title="Open search bar" data-trackable="search-toggle" role="button" draggable="false"
                data-o-toggle--js="true" aria-expanded="false">
                <span class="top-link-label">Open search bar</span>
            </a>
        </div>
        <div class="top-column brand-holder top-column-center">
            <a class="ft-brand pointer top-logo" href="/">
                <h1>Business News</h1>
            </a>
        </div>

        <div class="top-column top-column-right">
            <a class="top-link top-link-my-ft" href="#" data-trackable="my-ft" data-tour-stage="myFt"
                aria-label="My F T">
                <span class="visually-hidden">myFT</span>
            </a>
        </div>

    </div>
</div>