@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
  width: auto;
  background-color: #fff1e5;
}

.brand-header {
  width: 100%;
  display: table;
  padding: 0 20px;
  margin: auto;
}

.top-logo {
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  border: 0;
  margin: auto;
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.ft-brand {
  font-family: sans-serif;
  text-transform: uppercase;
}

.ft-brand:hover {
  text-decoration: none;
}

.container {
  max-width: 1220px;
  margin: auto;
}

.top-column-left {
  text-align: left;
  width: 12.5%;
}

.top-column-right {
  text-align: right;
  width: 12.5%;
}

.top-column-center {
  text-align: center;
  vertical-align: middle;
}

.top-column {
  display: table-cell;
}

.pointer {
  cursor: pointer;
}

[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  outline: none;
}

.top-link {
  vertical-align: middle;
}

.top-link-my-ft:before {
  background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo:brand-myft?format=svg&source=page-kit-layout&tint=%2333302E%2C%2333302E);
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: inherit;
  content: ' ';
  width: 50px;
  height: 50px;
}

.top-link-search:before {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: inherit;
  content: ' ';
  width: 40px;
  height: 40px;
  background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:search?format=svg&source=page-kit-layout&tint=%2333302E%2C%2333302E);
}
.top-link-label {
  position: absolute;
  clip: rect(0 0 0 0);
  -webkit-clip-path: polygon(0 0, 0 0);
  clip-path: polygon(0 0, 0 0);
  margin: -1px;
  border: 0;
  overflow: hidden;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  -webkit-clip-path: polygon(0 0, 0 0);
  clip-path: polygon(0 0, 0 0);
  margin: -1px;
  border: 0;
  overflow: hidden;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.search-box {
  text-align: center;
  font-family: MetricWeb, sans-serif;
  width: 60%;
  text-align: center;
  margin: auto;
}

.search-form {
  background: #ccc1b8;
  background-color: #ccc1b8;
}
.search-input {
  font-family: MetricWeb, sans-serif;
  font-size: 14px;
  line-height: 16px;
  box-sizing: border-box;
  height: 32px;
  padding: 0 8px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border-style: solid;
  border-color: transparent;
  box-shadow: none;
  border-radius: 0;
  min-width: 45%;
  flex-grow: 1;
}

.search-input:focus {
  box-shadow: 0 0 0 1px #807973;
  border-color: #0a560a;
  outline-offset: 0px;
}

.search-input:focus-visible {
  outline: 2px solid #807973;
}
.search-button {
  font-weight: 600;
  font-family: MetricWeb, sans-serif;
  font-size: 14px;
  line-height: 16px;
  line-height: 14px;
  background-size: 21px 21px;
  min-height: 28px;
  min-width: 60px;
  padding: 6px 8px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.15s ease-out,
    border-color 0.15s ease-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-clip: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #262a33;
  color: #fff;
  border: 1px solid transparent;
  height: 32px;
  margin: 0 0 0 14px;
}

.search-button:hover {
  background-color: #515257;
  color: #fff;
  border-color: transparent;
}

.search-wrap {
  padding: 8px 0;
  width: 100%;
  margin: auto;
  background-color: #ccc1b8;
  background: #ccc1b8;
}

.search-close {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
  width: 40px;
  height: 40px;
  background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:cross?format=svg&source=page-kit-layout&tint=%2333302E%2C%2333302E);
  border: 0;
  margin-left: 14px;
  vertical-align: middle;
  border: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.nav-bar {
  text-transform: uppercase;
  border-bottom: 1px solid #ccc1b7;
  border-top: 1px solid #ccc1b7;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  font-family: MetricWeb, sans-serif;
  width: 100%;
  margin: auto;
  font-size: 11px;
  line-height: 20px;
  word-spacing: 0;
}

.nav-list-right {
}

.nav-list-left {
  font-weight: 600;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-item {
  cursor: pointer;
  padding: 10px 0;
  padding-left: 12px;
}

/* .nav-link:visited {
  color: #0a5e66;
} */

.nav-link:hover {
  color: #000000;
  padding: 10px 0;
  border-bottom: 4px solid #000000;
}

.nav-link-active {
  color: #0a5e66;
  padding: 10px 0;
  border-bottom: 4px solid #0a5e66;
}

.nav-link {
  color: #33302e;
}

.result-number {
  font-family: MetricWeb, sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  width: 100%;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 40px;
  -webkit-font-smoothing: antialiased;
  color: #33302e;
}

.teaser {
  display: flex;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc1b7;
  margin-bottom: 16px;
  font-family: MetricWeb, sans-serif;
  width: 90%;
}

.teaser-container {
  margin: 50px auto auto auto;
  padding-left: 20px;
}

.teaser-list {
  list-style: none;
}
.image-container {
  width: 20%;
  flex-shrink: 0;
  padding-top: 4px;
  padding-right: 20px;
}
.teaser-image {
  float: left;
  width: 100%;
}
.teaser-body {
  color: #736c67;
  margin-top: 10px;
  line-height: 1.4;
}
.teaser-head-link:hover {
  color: #736c67;
}

.teaser-box {
  width: 50%;
}

.main-search-wrap {
  padding: 0 12px 0 12px;
  margin-top: 20px;
}

.search-title {
  font-family: FinancierDisplayWeb, serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 4px;
}

.main-search-box {
  display: block;
  width: 90%;
}

.main-search-form {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 24px;
}

.main-search-input {
  font-family: inherit;
  font-size: inherit;
  background-color: #fff;
  border: 1px solid #807973;
  box-sizing: border-box;
  min-height: 40px;
  padding: 8px;
  margin-right: 8px;
  width: 100%;
}

.main-search-input:focus {
  box-shadow: 0 0 0 2px #807973;
  outline: none;
  border-color: #807973;
}

.main-search-button {
  background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:search?format=svg&source=next-search-page&tint=%23FFFFFF%2C%23FFFFFF);
  padding-left: 0;
  background-position: 50%;
  min-width: 40px;
  min-height: 40px;
  background-color: #0d7680;
  border-color: transparent;
  background-repeat: no-repeat;
}

.home-content-title {
  text-align: center;
  margin-top: 100px;
}

.text-only {
  text-align: center;
  margin-top: 6rem;
}

.not-found {
  color: #0d7680;
  padding-bottom: 10px;
}

.home-link:hover {
  color: #736c67;
}

h2 {
  line-height: 1.5;
}

.prev-page-link {
  background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-left?format=svg&source=next-search-page&tint=%230D7680%2C%230D7680);
}

.next-page-link {
  background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-right?format=svg&source=next-search-page&tint=%230C707A%2C%230C707A);
}

.page-link {
  padding: 11px 9px;
  min-width: 36px;
  background-position: 50%;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0;
  border: 1px solid #0d7680;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.15s ease-out,
    border-color 0.15s ease-out;
  height: 40px;
}

.pagination-wrap {
  display: flex;
  margin-left: 10px;
  margin-bottom: 20px;
}

.page-text {
  color: #33302e;
  margin: 0 1rem;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .home-content-title,
  .no-result-message {
    font-size: 14px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
  }

  .main-search-wrap {
    width: 80%;
  }

  .top-logo {
    width: 80%;
  }

  .teaser .teaser-box,
  .teaser {
    width: 100%;
  }
  .image-container {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .hide {
    display: none;
  }
  nav .nav-container {
    justify-content: center;
  }

  .top-logo {
    width: 60%;
  }

  .hide {
    display: none;
  }
  nav .nav-container {
    justify-content: center;
  }
}

@media only screen and (max-width: 1280px) {
  .top-column-left {
    width: 10%;
    padding-left: 2%;
  }

  .top-column-center {
    width: 100%;
  }

  .top-column-right {
    width: 10%;
    padding-right: 2%;
  }
  .top-column-center {
    width: 60%;
  }

  .brand-header {
    padding-left: 0;
    padding-right: 0;
  }
}
